ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    color: #666666;
    text-decoration: none;
}
a:hover{
    color: #000;
    text-decoration: none;
}
body{
    text-decoration: #f5f5f5;
}
.container{
    text-decoration: #fff;
}

/* 修改container的最大宽度为1280px */
@media screen and (min-width: 1280px){
    .container{
        width: 1280px;
    }
}
/* header */
header{
    padding-left: 0!important;
}
.logo{
    background-color: #429ad9;
}
.logo img{
    display: block;
    /* 不需要缩放 */
    max-width: 100%;
    margin: 0 auto;
}
/* 超小屏幕上就不需要logo，需要把图片隐藏起来 */
/* 再准备一个盒子在logo里面，在超小屏幕上显示哦 */
.logo span{
    display: block;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.nav{
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}
.nav a{
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    font-size: 16px;
}
.nav a:hover{
    background-color: #fff;
    color: #333333;
}
.nav a::before{
    vertical-align: middle;
    padding-right: 5px;
}
/* 小屏幕以下  让nav里面的li浮动起来 并且宽度为20% */
@media screen and (max-width: 991px){
    .nav li{
        float: left;
        width: 20%;
    }
    article{
        padding-top: 10px;
    }
}
/* 超小屏幕上时字体变小为14px */
@media screen and (max-width: 767px){
    .nav li a{
       font-size: 14px; 
       padding-left: 3px;
    }
    .news li:nth-child(1){
        width: 100%!important;
    }
    .news li{
        width: 50%!important;
    }
    .publish h3{
        font-size: 17px;
    }
}

article{
    padding-top: 5px;
}
.news li{
    float: left;
    width: 25%;
    height: 128px;
    padding-right: 10px;
    margin-bottom: 10px;
}
.news li > a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%; 
}
.news li:nth-child(1){
    width: 50%;
    height: 266px;
}
/* 手机端第一个li为100% */
.carousel, 
.carousel img{
    width: 100%;
    height: 266px!important;
}
.news li:nth-child(1) p {
    line-height: 41px;
    font-size: 20px;
    padding: 0 10px;
}
.news li a img{
    width: 100%;
    height: 100%;
}
.carousel-caption{
    line-height: 41px;
    font-size: 16px!important;
    padding: 0!important;
}
.news li a p, 
.carousel-caption{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 41px;
    padding: 5px 10px;
    margin-bottom: 0;
    background: rgba(0, 0, 0, .5);
    font-size: 12px;
    color: #fff;
    margin-bottom: 0;
}
.publish{
    border-top: 1px solid #ccc;
}
.pic{
    margin-top: 10px;
}
.pic img{
    width: 100%;
}
.publish .row{
    border-bottom: 1px solid #cccccc;
    padding: 10px 0;
}
.banner img{
    width: 100%;
}
.hot{
    display: block;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 0 15px 10px;
}
.hot span{
    border-radius: 0;
    margin-bottom: 18px;
}
.hot p{
    font-size: 12px;
}